<div class="comments-header">
  <h4>
    <%=  t(".comments") + "(#{commentable.comment_threads.count.to_s})"  %>
  </h4>
</div>

<%= render partial: "comments/form", locals: {new_comment: new_comment} %>

<div class="comments-container">
  <%= render partial: "comments/reply", locals: {comments: commentable.root_comments} %>
</div>